# Ignore log files
logs/*.log
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore backup files
*.bak
*.old

# Ignore system files
*.DS_Store
Thumbs.db

# Ignore editor files
*.swp
*.swo

# Ignore temp terraform track files
.terraform 
*.tfstate*
.terraform.lock.hcl
